@import "tailwindcss";
@plugin "daisyui";

@source "../../../**/*.{html,py,js}";

@custom-variant dark (&:where(.dark, .dark *));

/* Add custom animations and keyframes inside the @theme directive */
@theme {
    /* Define your animation utility */
    --animate-pulse-slow: pulse-slow 8s ease-in-out infinite;

    @keyframes pulse-slow {
        0%, 100% {
        transform: scale(1);
        opacity: 0.3;
        }
        25% {
        transform: scale(1.2);
        opacity: 0.5;
        }
        50% {
        transform: scale(1.4);
        opacity: 0.7;
        }
        75% {
        transform: scale(1.6);
        opacity: 0.9;
        }
    }
};

/* Add a custom utility layer for the class name */
@layer utilities {
  .animate-pulse-slow {
    animation: var(--animate-pulse-slow);
  }
};